@import url('https://fonts.googleapis.com/css?family=Karla|Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Karla');

h3 {
  font-family: 'Libre Baskerville', serif;
}

.nav-row {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 0.9em;
  margin-top: 5px;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bug-description {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 0.9em;
  padding: 20px;
  background: rgba(255, 255, 255, 0.333);
}

.nav {
  position: absolute;
  left: 10px;
  top: 10px;
}

.nav-title {
  border-bottom: 1px solid grey;
  margin-right: 5px;
  font-variant: small-caps;
  cursor: pointer;
}

.title {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-size: 1.1em;
}

.title.german {
  font-weight: bold;
}

body {
  overflow: hidden;
  background: #fffdf2;
}

.App {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/bg_pattern.png');
  background-repeat: repeat;
  background-size: 300px;
}

.ground {
  width: 100%;
  height: 100%;
}

.bug {
  position: absolute;
  /* background: #080; */
  left: 0px;
  top: 0px;
  transform-origin: 50% 50%;
  cursor: pointer;
}
