@import url('https://fonts.googleapis.com/css?family=Karla|Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Karla');
h3 {
  font-family: 'Libre Baskerville', serif;
}

.bug-description {
  font-family: 'Karla', sans-serif;
}

body {
  overflow: hidden;
  background: #fffdf2;
}

.App {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/bg_pattern.png');
  background-repeat: repeat;
  background-size: 300px;
}

.ground {
  width: 100%;
  height: 100%;
}

.bug {
  position: absolute;
  /* background: #080; */
  left: 0px;
  top: 0px;
  transform-origin: 50% 50%;
  cursor: pointer;
}